version: "3.9"

services:
  image-watcher:
    build: .
    container_name: image-watcher
    restart: unless-stopped

    env_file:
      - .env

    volumes:
      - /srv/nhi/ftp/images/rw/incoming:/data/incoming
      - /srv/nhi/ftp/images/ro/processed:/data/processed
      - watcher_state:/state

    mem_limit: 512m
    cpus: 1.0

volumes:
  watcher_state:
